*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html {
  font-family: "Rubik", sans-serif;
} */

body {
  width: 100%;
  height: 100vh;
  font: poppins;
  padding: 15px;
  background-color: #eee;
  display: block;
}

.container {
  width: 100%;
  max-width: 155rem;
  margin: 10px;
  padding: 0 1.5rem;
  font-size: 12px;
}

.image-container {
  width: 100%;
  min-height: 25rem;
}
/* -------------------- */
.image-gallery {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12";
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 4rem;
  opacity: 0;
  transition: opacity 0.5s;
  text-decoration: none;
}

p {
  font-size: 45px;
  display: block;
  font-size: 15px;
  margin: 6px 0 10px 0;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.img1 {
  grid-area: img1;
  /* min-height: 51.5rem; */
  background-image: url("images/architecture-2256489_1920.jpg");
}

.img2 {
  grid-area: img2;
  background-image: url("images/jellyfish-gede08129d_1920.jpg");
}

.img3 {
  grid-area: img3;
  background-image: url("images/japan-2014619_1920.jpg");
}

.img4 {
  grid-area: img4;
  background-image: url("images/monastery-6560623_1920.jpg");
}

.img5 {
  grid-area: img5;
  background-image: url("images/baby-2972221_1920.jpg");
}

.img6 {
  grid-area: img6;
  /* min-height: 51.5rem; */
  background-image: url("images/hamburger-1238246_1920.jpg");
}

.img7 {
  grid-area: img7;
  background-image: url("images/sea-164989.jpg");
}

.img8 {
  grid-area: img8;
  background-image: url("images/cocker-spaniel-2785074_1920.jpg");
}
.img9 {
  grid-area: img9;
  background-image: url("images/trail-running-1245982_1920.jpg");
}

.img10 {
  grid-area: img10;
  background-image: url("images/elephant-1822636_1920.jpg");
}

.img11 {
  grid-area: img11;
  background-image: url("images/grass-2616911_1920.jpg");
}

.img12 {
  grid-area: img12;
  background-image: url("images/soccer-488700_1920.jpg");
}

@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas:
      "img1 img2 img3"
      "img4 img5 img6"
      "img7 img8 img9"
      "img10 img11 img12";
  }

  .image-gallery a {
    min-height: 10rem;
  }
  .image-container {
    display: inline-block;
    min-width: 25rem;
  }
  .image-container p {
    text-align: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery,
  .image-container {
    grid-template-areas:
      "img1 img1 img1"
      "img2 img2 img2"
      "img3 img3 img3"
      "img4 img4 img4"
      "img5 img5 img5"
      "img6 img6 img6"
      "img7 img7 img7"
      "img8 img8 img8"
      "img9 img9 img9"
      "img10 img10 img10"
      "img11 img11 img11"
      "img12 img12 img12";
  }

  .image-gallery a {
    min-height: 5rem;
  }
  .image-container {
    display: inline-block;
    min-width: 25rem;
  }
  .image-container p {
    text-align: center;
    font-size: 15px;
  }
}
